<mat-toolbar>
  <span class="title">Tiffany Taylor</span>
  <span class="spacer"></span>
  <!-- <nav *ngIf="!isMobile"> -->
  <nav>
    <!-- <button mat-button routerLink="/">Home</button> -->
    <button mat-button routerLink="/">Stylist</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/appointments">Appointments</button>
    <button mat-button routerLink="/cancellations">Cancellations</button>
  </nav>
</mat-toolbar>

<div class="content">
  <router-outlet />
</div>