@use '@angular/material' as mat;

mat-toolbar {
    background: #468189;
    color: white;
}

button {
    color: white !important;
    @include mat.button-overrides((
        ripple-color: rgba(255, 255, 255, 0.1),
        state-layer-color: rgba(255, 255, 255, 0.5)
    ));
}

.title {
    font-family: "Corinthia", cursive;
    font-size: 36px;
}

.spacer {
    flex: 1 1 auto;
}

.content {
    // padding: 5px 16px;
}