.container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    width: 300px;
    border-radius: 10px;
}

mat-card {
    padding: 16px;
    flex: 1;
    min-width: 350px;
    max-width: 800px;
    background-color: #e6f2f2;
}

mat-card-title, mat-card-subtitle {
    text-align: center;
    font-family: "Corinthia", cursive;
    font-weight: 700;
}

mat-card-title {
    font-size: 36px;
}

mat-card-subtitle {
    font-size: 28px;
}

ul {
    list-style-position: outside;
    padding: 0 5%;
}