<div class="container">
    <img src="assets/images/tiffany.jpg">
    <mat-card>
        <mat-card-title>Tiffany Hamrick-Taylor</mat-card-title>
        <mat-card-subtitle class="brown">704-956-1005</mat-card-subtitle>
        <mat-card-subtitle>tiffanylanetaylor&#64;me.com</mat-card-subtitle>
        <mat-card-subtitle class="brown"><hr></mat-card-subtitle>
        <mat-card-content>
            <ul>
                <li>After an education in art and graphic design, I found that I most enjoyed using people’s hair as my canvas. The most important factor in being a great hairstylist is listening to your client! By doing so, I develop hair styles based on clients’ facial shapes, features, and texture. I have played with hair my entire life and I love what I do</li>
                <li class="brown">I spend most of my time balancing my roles of mom, wife, and career woman. I have a passion to be creative through my career as a stylist, as well as being a great mother and wife. I don’t want to have to choose one role.</li>
                <li>Changes in hair, as in life, are necessary. Committing yourself to making those changes sometimes takes strength and courage. I’m committed to making those changes no matter how large or small.</li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
