<div class="container">
    <mat-card>
        <mat-card-title>Hair Appointments</mat-card-title>
        <mat-card-subtitle>
            <hr>
            Hours by appointment only
            <br>Monday – Friday : 8am to 3pm
            <br>To schedule an appointment contact me directly
            <br>via text or phone call at
            <a href="tel:704-956-1005" style="white-space: nowrap;">704-956-1005</a>
            <br>or by email at 
            <a href="mailto:tiffanylanetaylor@me.com">tiffanylanetaylor&#64;me.com</a>
        </mat-card-subtitle>
    </mat-card>
    <div class="image-container">
        <img src="assets/images/back-hair.jpg">
        <img src="assets/images/passion.jpg">
    </div>
</div>
