<div class="container">
    <mat-card>
        <mat-card-title>Hair Appointments</mat-card-title>
        <mat-card-subtitle><hr></mat-card-subtitle>
        <mat-card-subtitle>Hours by appointment only</mat-card-subtitle>
        <mat-card-subtitle>Monday – Friday : 8am to 3pm</mat-card-subtitle>
        <mat-card-subtitle>
            To schedule an appointment contact me directly
            via text or phone call at
            <a href="tel:704-956-1005">704-956-1005</a>
            or by email at 
            <a href="mailto:tiffanylanetaylor@me.com">tiffanylanetaylor&#64;me.com</a>
        </mat-card-subtitle>
    </mat-card>
    <div class="image-container">
        <img src="assets/images/back-hair.jpg">
        <img src="assets/images/passion.jpg">
    </div>
</div>
